* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body{
    background:linear-gradient(rgb(137, 137, 203),lightcyan)
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    color: white;
    margin: 0px 25px;
  }
  
  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .heading {
    margin-left: 10px;
    font-size: larger;
    font-weight: 600;
    color: white;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  li {
    margin: 0 20px;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  a:hover{
      font-weight: bolder;
  }
  
  .profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid white;
  }
  
  .avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  
  main {
    margin: 20px 0px 20px 0px;
    text-align: left;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr;
  }
  
  .main-image {
    width: 100%;
  }
  
  p {
    color: white;
  }
  
  .aside {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    background: rgb(137, 137, 203);
    padding: 20px 20px 20px 50px;
    border-radius: 0px 15px 15px 0px;
  }
  
  .record {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .recorder {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: red;
  }
  
  .center{
      display: flex;
      justify-content: center;
  }
  
  .options {
    list-style: circle;
    margin-bottom: 30px;
  }
  
  .lists {
    margin-bottom: 10px;
    color: white;
  }
  
  .description {
    font-weight: normal;
    margin-bottom: 30px;
  }
  
  .items {
    /* width: 100%; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* height: 500px; */
    gap: 40px;
    padding:40px;
  }
  
  .cards {
    width: 100%;
    height: 100%;
    border: 2px solid rgb(137, 137, 203);
    border-radius: 15px;
  }
  
  .pictures{
      width: 100%;
      height: 60%;
      /* border-radius: 50%; */
  }
  
  video{
      width: 100%;
      height: 100%;
      border-radius: 15px;
  }
  
  .title{
      font-weight: lighter;
      font-size: smaller;
      margin: 7px;
  }
  