<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meet</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <img
          src="images/144983-camera-vector-camcorder-film-png-download-free.png"
          alt=""
          height="35px"
          width="40px"
        />
        <h1 class="heading">Face Meet</h1>
      </div>
      <div>
        <ul class="nav">
          <li><a href="#">Home</a></li>
          <li><a href="#">Start Recording</a></li>
          <li><a href="#">Subscription</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>
      <div class="profile">
        <img src="images/46526.png" alt="" class="avatar" />
      </div>
    </header>

    <main>
      <div class="aside">
        <h1 class="description">
          Premium video recordings and views. Now free and accessible for
          everyone
        </h1>

        <ul class="options">
          <li class="lists">Record your videos.</li>
          <li class="lists">Upload existing videos</li>
          <li class="lists">Stream live videos</li>
          <li class="lists">Save videos offline</li>
          <li class="lists">Watch videos uploaded by others</li>
          <li class="lists">Watch videos uploaded by others</li>
          <li class="lists">Watch videos uploaded by others</li>
        </ul>

        <div>
          <p><i>Click the button below to record a video</i></p>
          <div class="center">
            <div class="record">
              <div class="recorder"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="items">
        <div class="cards">
          <a href="watch"><video width="100%" height="80%" controls>
            <source src="movie.mp4" type="video/mp4" class="pictures" />
            <source src="movie.ogg" type="video/ogg" />
            Your browser does not support the video tag.
          </video></a>
          <p class="title">how to catch a fish</p>
        </div>
        <div class="cards">
            <a href="watch"><video width="100%" height="80%" controls>
                <source src="movie.mp4" type="video/mp4" class="pictures" />
                <source src="movie.ogg" type="video/ogg" />
                Your browser does not support the video tag.
              </video></a>
          <p class="title">how to prepare a fish</p>
        </div>
        <div class="cards">
            <a href="watch"><video width="100%" height="80%" controls>
                <source src="movie.mp4" type="video/mp4" class="pictures" />
                <source src="movie.ogg" type="video/ogg" />
                Your browser does not support the video tag.
              </video></a>
          <p class="title">how to eat a fish</p>
        </div>
        <div class="cards">
          <a href="watch"><video width="100%" height="80%" controls>
            <source src="movie.mp4" type="video/mp4" class="pictures" />
            <source src="movie.ogg" type="video/ogg" />
            Your browser does not support the video tag.
          </video></a>
          <p class="title">how to catch a fish</p>
        </div>
        <div class="cards">
            <a href="watch"><video width="100%" height="80%" controls>
                <source src="movie.mp4" type="video/mp4" class="pictures" />
                <source src="movie.ogg" type="video/ogg" />
                Your browser does not support the video tag.
              </video></a>
          <p class="title">how to catch a fish</p>
        </div>
        <div class="cards">
            <a href="watch"><video width="100%" height="80%" controls>
                <source src="movie.mp4" type="video/mp4" class="pictures" />
                <source src="movie.ogg" type="video/ogg" />
                Your browser does not support the video tag.
              </video></a>
          <p class="title">how to catch a fish</p>
        </div>
        <div class="cards">
            <a href="watch"><video width="100%" height="80%" controls>
                <source src="movie.mp4" type="video/mp4" class="pictures" />
                <source src="movie.ogg" type="video/ogg" />
                Your browser does not support the video tag.
              </video></a>
          <p class="title">how to catch a fish</p>
        </div>
        <div class="cards">
            <a href="watch"><video width="100%" height="80%" controls>
                <source src="movie.mp4" type="video/mp4" class="pictures" />
                <source src="movie.ogg" type="video/ogg" />
                Your browser does not support the video tag.
              </video></a>
          <p class="title">how to catch a fish</p>
        </div>
        <div class="cards">
            <a href="watch"><video width="100%" height="80%" controls>
                <source src="movie.mp4" type="video/mp4" class="pictures" />
                <source src="movie.ogg" type="video/ogg" />
                Your browser does not support the video tag.
              </video></a>
          <p class="title">how to catch a fish</p>
        </div>
      </div>
      <div></div>
    </main>
  </body>
</html>
