<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login | meet</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <h2>login</h2>
    <div class="login">
  <form id="login" method="get" action="">
  <label>
    <b>User Name</b>
  </label>
  <input type="text" name="name" id="nameid" placeholder="username">
  <br><br>
  <label>
    <b>Password</b>
  </label>
  <input type="button" name="login" id="login" value="login In Here">
  <br><br>
  <input type="checkbox" id="check">
  <span>Remember me</span>
  <br><br>
  forgot <a href="#">Password</a>
</form>
    </div>
</body>
</html>