<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>played video</title>
    <link rel="stylesheet" href="target.css" />
  </head>
  <body>
    <div class="content">
      <video width="100%" height="70%" controls>
        <source src="movie.mp4" type="video/mp4" class="pictures" />
        <source src="movie.ogg" type="video/ogg" />
        Your browser does not support the video tag.
      </video>
      <div>
        <div class="item">
          <h4 class="title">Title</h4>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </div>

        <div class="item">
          <h4 class="title">Description</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis
            nam temporibus placeat sint doloribus, error, laudantium ducimus in
            odio nihil enim. Suscipit, cumque iusto reiciendis aliquid tenetur
            eveniet aut assumenda.
          </p>
        </div>

        <div class="item">
          <h4 class="title">URL</h4>
          <p><a href="#">https://google.com</a></p>
        </div>
      </div>
    </div>

    <div class="chat">
      <div class="message">
        <div class="profile">
          <img src="images/46526.png" alt="" class="avatar" />
        </div>
        <div class="line"></div>
        <div class="inbox">
            <div class="me us">Hello</div>
            <div class="you us"> Good morning</div>
            <div class="me us"> How are you doing?</div>
            <div class="you us">i'm fine thank you</div>
            <div class="me us">Could you send me the link</div>
            <div class="you us">Sure</div>
            <div class="you us">https://google.com</div>
            <div class="you us">Here you go</div>
            <div class="me us">Thanks a lot</div>
        </div>
        <div class="sender">
            <input type="text" name="" id="" placeholder="typing...">
        </div>
    </div>
    </div>
  </body>
</html>
